package components

import (
	"fmt"
	appcomponents "github.com/jacobsky/apparently-typing/pkg/components"
)

templ ConfigField(signal, inputtype, label string) {
	<div class="field label border">
		<input
			type={ inputtype }
			id={ signal }
			name={ signal }
			placeholder=" "
			data-bind={ signal }
			data-effect={ fmt.Sprintf("localStorage.setItem('%v', $%v)", signal, signal) }
			data-attr:disabled="$locked"
			required
		/>
		<label>{ label }</label>
	</div>
}

templ ConfigMenu() {
	<dialog
		class="modal"
		data-signals:model="localStorage.getItem('model') != null ? localStorage.getItem('model') : ''"
		data-signals:endpoint="localStorage.getItem('endpoint') != null ? localStorage.getItem('endpoint') : ''"
		data-signals:key="localStorage.getItem('key') != null ? localStorage.getItem('key') : ''"
		data-signals="{modal_open: false, locked: true}"
		name="settings"
		data-attr:open="$modal_open"
	>
		<article class="modal-box">
			<header>
				<h5>Configuration settings</h5>
				<button class="transparent circle" aria-label="close" rel="prev" data-on:click="$modal_open=false">
					<i>close</i>
				</button>
			</header>
			<form autocomplete="on" data-on:submit="$locked = !$locked">
				<h6>LLM Details</h6>
				@ConfigField("model", "text", "Model ID")
				@ConfigField("endpoint", "url", "Endpoint")
				@ConfigField("key", "text", "API Key")
				<button
					class="border"
					type="submit"
					data-attr:value="$locked ? 'Edit' : 'Save'"
					data-text="$locked ? 'Edit' : 'Save'"
				></button>
			</form>
		</article>
	</dialog>
}

templ TitleLink() {
	<a href="/">Apparently a Language Assistant</a>
}

templ SettingsButton() {
	<button class="transparent circle" data-on:click="$modal_open=true">
		<i>settings</i>
	</button>
}

templ Home() {
	<a href="https://apparently-typ.ing/">Home</a>
}

templ Nav() {
	@appcomponents.Nav(
		TitleLink(),
		[]templ.Component{
			Home(),
			appcomponents.GithubLink("https://github.com/jacobsky/proofreader", "_blank"),
			SettingsButton(),
		},
	)
}

templ Base() {
	<!DOCTYPE html>
	<html lang="en" data-theme="light">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Japanese Assistant</title>
			<link href="https://cdn.jsdelivr.net/npm/beercss@3.13.3/dist/cdn/beer.min.css" rel="stylesheet"/>
			<script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.13.3/dist/cdn/beer.min.js"></script>
			<script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
			<script type="module" src="/assets/js/datastar.js"></script>
		</head>
		<body class="dark">
			@ConfigMenu()
			<header class="primary-container">
				@Nav()
			</header>
			<main class="responsive">
				<div id="content">
					{ children... }
				</div>
			</main>
			@appcomponents.Footer()
		</body>
	</html>
}
