package components

import (
	"fmt"
	appcomponents "github.com/jacobsky/apparently-typing/pkg/components"
)

templ ConfigField(signal, inputtype, label string) {
	<input
		class="input validator w-full"
		data-bind={ signal }
		data-effect={ fmt.Sprintf("localStorage.setItem('%v', $%v)", signal, signal) }
		id={ signal }
		name={ signal }
		type={ inputtype }
		placeholder={ label }
		data-attr:disabled="$locked"
		required
	/>
}

templ ConfigMenu() {
	<dialog
		class="modal mg:w-xl"
		data-signals:model="localStorage.getItem('model') != null ? localStorage.getItem('model') : ''"
		data-signals:endpoint="localStorage.getItem('endpoint') != null ? localStorage.getItem('endpoint') : ''"
		data-signals:key="localStorage.getItem('key') != null ? localStorage.getItem('key') : ''"
		data-signals="{modal_open: false, locked: true}"
		name="settings"
		data-attr:open="$modal_open"
	>
		<article class="modal-box">
			<header class="flex">
				<p class="text-lg font-bold grow">Configuration settings</p>
				<button class="btn btn-outline flex-none" aria-label="close" rel="prev" data-on:click="$modal_open=false">X Close </button>
			</header>
			<form autocomplete="on" data-on:submit="$locked = !$locked">
				<fieldset class="fieldset">
					<legend class="fieldset-legend">LLM Details</legend>
					@ConfigField("model", "text", "Model ID")
					@ConfigField("endpoint", "url", "Endpoint")
					@ConfigField("key", "text", "API Key")
					<input
						class="btn btn-outline modal-action"
						type="submit"
						data-attr:value="$locked ? 'Edit' : 'Save'"
						value="Save"
					/>
				</fieldset>
			</form>
		</article>
	</dialog>
}

templ TitleLink() {
	<a class="text-base md:text-xl" href="/">> Apparently a Language Assistant</a>
}

templ SettingsButton() {
	<button class="btn" data-on:click="$modal_open=true">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="100%"
			height="1rem"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon-menu"
		>
			<path d="M4 6l16 0"></path>
			<path d="M4 12l16 0"></path>
			<path d="M4 18l16 0"></path>
		</svg>
	</button>
}

templ Home() {
	<a class="btn" href="https://apparently-typ.ing/">Home</a>
}

templ Nav() {
	@appcomponents.Nav(
		TitleLink(),
		[]templ.Component{
			Home(),
			appcomponents.GithubLink("https://github.com/jacobsky/proofreader", "_blank"),
			appcomponents.ThemeToggler("cupcake"),
			SettingsButton(),
		},
	)
}

templ Base() {
	<!DOCTYPE html>
	<html lang="en" data-theme="night">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>Japanese Assistant</title>
			<link rel="stylesheet" href="/assets/css/output.css"/>
			<script type="module" src="/assets/js/datastar.js"></script>
		</head>
		<body>
			@ConfigMenu()
			@Nav()
			<main class="flex flex-wrap justify-center bg-base-100">
				<div class="flex grow max-w-5xl" id="content">
					{ children... }
				</div>
			</main>
			@appcomponents.Footer()
		</body>
	</html>
}
