package health

templ HealthOkay() {
	<html>
		<head>
			<link href="https://cdn.jsdelivr.net/npm/beercss@3.13.3/dist/cdn/beer.min.css" rel="stylesheet">
		</head>
		<body>
			<article class="border">
				<h5>Health Okay</h5>
			</article>
		</body>
	</html>
}
